.secret-file-row {
    display: flex;
    flex-direction: row;
    height: 2.5rem;
}
.secret-file-name {
    font-size: 1rem;
    margin: auto 0 auto 0;
    flex: auto;
    max-width: calc(100% - 6rem);
    overflow: hidden;
    font-style: italic;
}