.secret-edit-header {
    display: flex;
    flex-direction: row;
}
.secret-edit-title {
    flex: 1;
    font-size: 1.125rem;
    font-weight: bold;
    margin: auto 0 auto 0;
}
.secret-name-and-image {
    display: flex;
    flex-direction: row;
}
.secret-image {
    height: 3.5rem;
    width: 3.5rem;
    margin-right: .25rem;
}
.secret-name {
    flex: 1;
}
.secret-metadata {
    display: flex;
    flex-direction: column;
    margin: .5rem auto 0 auto;
    width: 90%;
    max-width: 40rem;
}
.secret-entry-fields {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}
.secret-type-and-key {
    display: flex;
    flex-direction: row;
}
.secret-type {
    flex: 1;
    padding-right: .5rem;
}
.secret-key {
    flex: 1;
}
.secret-components {
    width: 100%;
    max-width: 40rem;
    margin: 0 auto 0 auto;
}
.save-button {
    display: block;
    margin: 0 0rem .5rem auto;
}