.files-edit-title {
    font-weight: bold;
    margin-top: .5rem;
}
.files-edit {
    display: flex;
    flex-direction: column;
    padding: 0 1rem .75rem 1rem;
}
.file-list {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 1rem;
}
.new-file-row {
    display: flex;
    flex-direction: row;
}
.new-file-prompt {
    font-size: .875rem;
    font-weight: 500;
    margin: auto 0 auto 0;
    flex: auto;
    text-align: right;
}
.new-file-prompt-disabled {
    color: #9B9B9B;
}
.file-input {
    display: none;
}
.download-anchor {
    display: none;
}