.confirm-dialog {
    display: flex;
    flex-direction: column;
    height: 95%;
}
.confirm-label, .continue-label {
    font-size: 1rem;
    font-weight: bold;
    margin: .5rem .5rem 0 .5rem;
}
.continue-label {
    flex: 1;
}
.close-buttons {
    display: flex;
    flex-direction: row;
    margin-top: .5rem;
}
.cancel-button {
    margin: 0 0 0 auto;
}
.continue-button {
    margin: 0 .5rem 0 .25rem;
}