.secret-password {
    display: flex;
    flex-direction: row;
}
.secret-password-field {
    flex: 1;
}
.password-input {
    display: flex; 
    flex-direction: row
}
.password-copy-button {
    margin-top: 1.375rem;
}