.website-password-components {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}
.website-password-title {
    font-weight: bold;
    margin-top: .5rem;
}
.unlock-button {
    padding: 0 0 .5rem 1rem;
}