.credit-card-edit {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}
.expiration-fields {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.expiration-month {
    width: calc(50% - .25rem);
    padding-right: .5rem;
}
.expiration-year {
    width: calc(50% - .25rem);
    flex: 1;
}
.credit-card-edit-title {
    font-weight: bold;
    margin-top: .5rem;
}